

.layout_employee_table{
    margin-top: 20px;
    background: white;
    padding-left: 0px;
    padding-right: 0px;
}

.layout_cargo_buttons{
    margin-top: 30px;
    padding-left: 30px;
}

.divider_cargo_delete{
    display: inline;
    margin-inline-start: 20px;
}