.divider_button{
    display: inline;
    margin-inline-start: 30px;
}

.divider_button2{
    display: inline;
    margin-inline-start: 50px;
}

.layout_mobile_buttons{
    margin-top: 100px;
    padding-left: 50px;
}

.divider_cargo_delete{
    display: inline;
    margin-inline-start: 20px;
}